In [157]:
import urllib.request as urllib2
import xml.etree.ElementTree as ET
import pandas as pd
import json


etree = ET.ElementTree(file=urllib2.urlopen('https://www.w3schools.com/xml/simple.xml'))
root = etree.getroot()

dfcols = []

column = 0
while column < len(root.findall(root[0].tag)) - 1 :
    dfcols = dfcols + [root[0][column].tag]
    column += 1
    
df = pd.DataFrame(columns=dfcols)

cadena = ""
row = 0
while row <= len(list(root)) - 1:
    column = 0
    dictvalues = "{"
    while column < len(root.findall(root[0].tag)) - 1:
        dictvalues = dictvalues + '"' + root[row][column].tag + '": "' + root[row][column].text  + '",'
        column += 1
    
    dictvalues = dictvalues[0:len(dictvalues) - 1]
    dictvalues = dictvalues + "}"
    
    df = df.append(json.loads(dictvalues), ignore_index = True) 
    
    row += 1

display(df)
df.head()

,name,price,description,calories
0,Belgian Waffles,$5.95,Two of our famous Belgian Waffles with plenty ...,650
1,Strawberry Belgian Waffles,$7.95,Light Belgian waffles covered with strawberrie...,900
2,Berry-Berry Belgian Waffles,$8.95,Light Belgian waffles covered with an assortme...,900
3,French Toast,$4.50,Thick slices made from our homemade sourdough ...,600
4,Homestyle Breakfast,$6.95,"Two eggs, bacon or sausage, toast, and our eve...",950

,name,price,description,calories
0,Belgian Waffles,$5.95,Two of our famous Belgian Waffles with plenty ...,650
1,Strawberry Belgian Waffles,$7.95,Light Belgian waffles covered with strawberrie...,900
2,Berry-Berry Belgian Waffles,$8.95,Light Belgian waffles covered with an assortme...,900
3,French Toast,$4.50,Thick slices made from our homemade sourdough ...,600
4,Homestyle Breakfast,$6.95,"Two eggs, bacon or sausage, toast, and our eve...",950